:root{
    --color-sec-back-retro: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(56%, #18191a), color-stop(85%, #157be6), color-stop(100%, #ffffff));
    --color-primary-retro: linear-gradient(#01050A,#000b38,#01050A);
    --color-back-ground : linear-gradient(to bottom, #000000, #ff5500);
}
body {
    background: var(--color-back-ground);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.front-image{
    width: 100%;
    height: 100%;
    
}
.front-div{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.movie {
    width: auto;
    height: 50%;
  }
img.movie:hover{
    color: grayscale(100%);
    
}

.carousel-bottom{
    width: 50px;
    height: 50px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev {
    left: -50px; /* adjust as needed */
  }
  
  .carousel-control-next {
    right: -50px; /* adjust as needed */
  }